/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .file-download-btn{
	color: #fff;
	background-color: #0073aa;
	border-color: #0073aa;
	text-decoration: none;
	display: inline-block;
	font-weight: 400;
	padding: 10px;
	border-radius: 5px;
}

.file-download-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    background-color: #007cba;
    border-radius: 5px;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
#openPopupBtn{
	font-weight: bold;
}
.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 300px;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.confirm-download-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    background-color: #28a745;
    border-radius: 5px;
}


.container {
    text-align: center;
	padding-top: 50px;
}

#timer {
    font-size: 18px;
    margin: 0px;
	padding: 0px;
}

#download-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}